spring:
  flyway:
    enabled: true
    baseline-on-migrate: true
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/postgres}
    username: ${DATABASE_USERNAME:}
    password: ${DATABASE_PASSWORD:}
    hikari:
      connectionTimeout: ${DATABASE_CONNECTION_TIMEOUT_MS:30000}
      idleTimeout: ${DATABASE_IDLE_TIMEOUT_MS:600000}
      maxLifetime: ${DATABASE_CONNECTION_MAX_LIFETIME_MS:1800000}
      minimumIdle: ${DATABASE_MIN_IDLE_CONNS:2}
      maximumPoolSize: ${DATABASE_MAX_POOL_SIZE:50}